#comment {
    width: 420px;
    margin: auto;
    margin-top: 50px;
}

#comment .note{
    color: red;
    font-size: 10px;
}

#list {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#list img {
    width: 70px;
}

.off{
    filter: opacity(40%);
}

/*
.under {
    border-bottom: solid 2px red;
}
*/

#tbd .hide {
    display: none;
}

#table {
    width: 500px;
    margin: auto;
}

#unit_table {
    border-collapse: collapse;
    border-spacing: 0px;
}

#unit_table th, #unit_table td{
    text-align: center;
    border: 1px solid;
}

#unit_table th {
    background-color: lightskyblue;
}

.column1 {
    width: 110px;
}

.column2 {
    width: 80px;
}

.column3 {
    width: 50px;
}

.column4 {
    width: 80px;
}

.column5 {
    width: 70px;
}

.column6 {
    width: 70px;
}

.quick {
    width: 50px;
}

.guts {
    width: 30px;
}

#memo {
    margin-top: 40px;
}

#textarea {
    text-align: center;
}

#message {
    resize: none;
}

#button {
    text-align: center;
}